---
title: Story Of Life.
layout: layouts/home.njk
description: This is my life
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---


<div class="p-8 bg-gray-200" style="padding: 2rem; background-color: rgba(237,242,247,var(--bg-opacity)); box-sizing: border-box; border: 0 solid #e2e8f0;">
 <p> This is a demo website based on 
  <a href="https://www.industrialempathy.com/posts/eleventy-high-performance-blog/">eleventy-high-performance-blog</a></p>.
</div>

<div id="posts" style="display: none;">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>