---
layout: layouts/base.njk
title: Posts
templateClass: tmpl-post
eleventyNavigation:
  key: Posts
  order: 3
---

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections._ %}
  {% include "postslist.njk" %}
</div>
